VITE_API_URL=https://api.forexanalyzerpro.com/api
VITE_WS_URL=https://api.forexanalyzerpro.com
VITE_SUPABASE_URL=https://rjuuentrwknqblureoib.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqdXVlbnRyd2tucWJsdXJlb2liIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1MDEyMDUsImV4cCI6MjA5MzA3NzIwNX0.oBkoIJEJRJPVt_Y57X-FTIbnXzE1Kd9-X6BiH6UEcRg
